-@scholarship.scholarship_comments.each do |comment|
  .row.section.purple.lighten-5
    .col.s12.m9
      =comment.person.full_name
    .col.s12.m3.grey-text
      =f_date(comment.updated_at)
    .col.s12.m12
      .message_content
        =comment.content
  .divider