%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to root_path, class:'breadcrumb' do
          Listado de becas
        %a.breadcrumb{}
          Editar beca

%h1 Editar beca

-if is_admin?
  -if @scholarship.person_type.eql?'Internship'
    = render 'internships_form'
  -elsif @scholarship.person_type.eql?'Student'
    = render 'students_form'
-else
  =render 'staff_scholarship_form'