-if @files.size>0
  %table.bordered
    %thead
      %tr
        %th
        %th
    %tbody
      -@files.each do |file|
        %tr
          %td
            =link_to "http://posgrado.cimav.edu.mx/internados/aspirantes/file/#{file.id}?disposition=inline" ,target: :_blank, class:'grey-text text-darken-2' do
              -case File.extname(file.description)
                -when '.jpg','.png'
                  %i.material-icons
                    image
                -when '.pdf', '.docx'
                  %i.material-icons
                    insert_drive_file
          %td
            =link_to "http://posgrado.cimav.edu.mx/internados/aspirantes/file/#{file.id}?disposition=inline" ,target: :_blank, class:'grey-text text-darken-2' do
              .truncate
                =file.description
          -#%td
            =link_to "/scholarships/#{@scholarship.id}/delete_image/#{image.id}", class:'delete_image grey-text', method:'delete', pc_id:@product_category.id, psc_id:@product_sub_category.id,p_id:@product.id, remote:true do
              %i.material-icons.red-hover
                close
-else
  %blockquote
    No hay imágenes