%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to root_path, class:'breadcrumb' do
          Listado de becas
        %a.breadcrumb{}
          Nueva beca

%h1 Nueva beca

-if is_admin?
  -if @person.eql?'Internship'
    = render 'internships_form'
  -if @person.eql?'Student'
    = render 'students_form'
-else
  =render 'staff_scholarship_form'

:javascript
  Turbolinks.clearCache();