%p
  Estimado
  =@to.full_name

%p
  Se le informa que se ha registrado una solicitud para otorgar una beca al
  %b=" C. #{@scholarship.person.full_name}"
  %span>. Para seguir el estado de la solicitud puede dar click en el siguiente enlace:
  =link_to "becas.cimav.edu.mx", "http://becas.cimav.edu.mx/scholarships/#{@scholarship.id}"

%br
