-@scholarships.each do |scholarship|
  %tr.tr-click{href:"/scholarships/#{scholarship.id}"}
    %td
      =scholarship.scholarship_type.name
    %td
      -if scholarship.person_type.eql?'Student'
        =scholarship.person.supervisor.full_name rescue 'SIN SUPERVISOR'
      -else
        =scholarship.person.staff.full_name rescue 'SIN STAFF'
    %td
      =scholarship.person.full_name rescue 'SIN PERSONA'
    %td
      =number_to_currency(scholarship.amount,unit: "$", separator: ".", delimiter: ",", format: "%u%n")
    %td
      %i.material-icons.left.valign-wrapper{class:status_color(scholarship.status)}
        lens
      =scholarship.get_status
:javascript
  $("tr.tr-click").on('click', function () {
    Turbolinks.visit($(this).attr("href"));
  });
