.row
  .col.s12.m12
    .card
      .card-content
        .card-title
          Becas
          -if is_admin?
            %button.btn-floating.right.green.darken-2.tooltipped{'data-tooltip':'Nueva beca','data-delay':40,'data-position':'right',onclick:"openModal($('#new_scholarship_modal'));"}
              %i.material-icons
                add
          -elsif current_user.user_type.eql?User::DEPARTMENT_ASSISTANT
            =link_to new_scholarship_path, class:'btn-floating green darken-2 tooltipped right', 'data-tooltip':'Solicitar nueva beca','data-position':'right' do
              %i.material-icons.left
                add

        .row
          %form#scholarships-search-form{'data-remote':true, action:'/load_part_scholarships'}
            .row
              .col.l4.input-field
                =select_tag 'scholarships-search-type', options_from_collection_for_select(ScholarshipType.all,'id','name'), include_blank: 'Todos los tipos'
                %label{for:'scholarships-search-type'} Tipo de beca
              .col.l4.input-field
                =select_tag 'scholarships-search-staff', options_from_collection_for_select(Staff.all,'id','full_name'), include_blank: 'Cualquiera', class:'do-select2'
                %label.active{for:'scholarships-search-staff'} Responsable
              .col.l4.input-field
                %input#scholarships-search-student{placeholder:'Nombre del estudiante'}
                %label.active{for:'scholarships-search-student'} Estudiante
            .row
              .col.l4.input-field
                %input#scholarships-search-amount{placeholder:'$'}
                %label.active{for:'scholarships-search-amount'} Monto
              .col.l4.input-field
                =select_tag 'scholarships-search-status', options_from_collection_for_select(Scholarship::STATUS.except(Scholarship::DELETED),:first, :last), include_blank: 'Todos los estatus'
                %label{for:'scholarships-search-status'} Estatus
              .col.l4
                %button#scholarships-search-button.btn.btn-large.blue.waves-effect{type:'submit'}
                  Buscar
                  %i.material-icons.left
                    search
        #scholarships-wrapper
          %table#scholarships-table.bordered.highlight
            %thead
              %tr
                %th Tipo de beca
                %th Responsable
                %th Estudiante
                %th Monto
                %th Estado
              %tbody

        .center-align
          .preloader-wrapper.big.load-more.active{style:'display:none;'}
            .spinner-layer.spinner-blue-only
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
.fixed-action-btn
  %button.btn-floating.right.white.darken-2.tooltipped{'data-tooltip':'Exportar a excel','data-delay':40,'data-position':'left',onclick:"getExcel();"}
    %i.fa.fa-file-excel.green-text.text-darken-3


#new_scholarship_modal.modal
  .modal-content
    .center
      %h5
        ¿A quién se otorgará la beca?
      .section
        =link_to 'Estudiante',new_scholarship_path(scholarship_person_type:'Student'),class:'btn brown'
        =link_to 'Practicante',new_scholarship_path(scholarship_person_type:'Internship'),class:'btn purple'

:javascript
  var scholarships_loaded;
  var searchObject = {staff:'', student:'', amount:'', type:'', status:''};
  $("#scholarships-search-form").on('submit', function() {
    searchScholarships();
  });
  $(document).ready(function(){
    setScholarshipsHeight();
    searchScholarships();
    $(".do-select2").select2();
  });
  $('#scholarships-wrapper').scroll(function (){
     if($(this)[0].scrollHeight - $(this).scrollTop() === $(this).outerHeight()) {
        loadScholarships();
    }
  });

  function searchScholarships() {
    scholarships_loaded = 0;
    searchObject.staff = $("#scholarships-search-staff").val();
    searchObject.student = $("#scholarships-search-student").val();
    searchObject.amount = $("#scholarships-search-amount").val();
    searchObject.type = $("#scholarships-search-type").val();
    searchObject.status = $("#scholarships-search-status").val();
    console.log(searchObject);
    loadScholarships();

  }

  function loadScholarships(){
    $.ajax({
      type:'GET',
      url:'/load_scholarships',
      data :{
        scholarships_loaded: scholarships_loaded,
        search_object : searchObject
      },
      beforeSend:function(){
        $('.load-more').show();
      },
      success:function(html){
        if(scholarships_loaded == 0){
          $("#scholarships-table tbody").html(html);
        }else{
          $("#scholarships-table tbody").append(html);
        }
        $('.load-more').hide();
        scholarships_loaded += 50;
      }
    });
  }
  function getExcel() {
    window.open("/load_scholarships?"+$.param({search_object: searchObject, format: "xls"}));
  }
