// Place all the styles related to the scholarships controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_content{
  padding: 1rem 1rem 1rem 1rem;
}
.card .card-content .card-title  a i {
  line-height: inherit;
}.card .card-content .card-title  button i {
  line-height: inherit;
}

#scholarships-wrapper{
  display: block;
  overflow-y: scroll;
}


#scholarship-files{
  padding: 3em 5em;
}

#scholarship_file_wrapper{
  position: relative;

  #delete-file-icon{
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    &:hover{color: #b41e36;}

  }

  &:hover{
    #delete-file-icon{display: block;}
  }
}